.home_banner {
	position: relative;
}
.home_banner .carousel-inner .carousel-item {
    /* background-color: #f2f6f7; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home_banner .carousel-caption {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #071c1f;
    text-align: left;
}
.home_banner .carousel-caption .row {
    padding: 220px 0px 220px;
}
.banner_content {
    padding-right: 200px;
}
.banner_content h3, .banner_content h4 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
    font-weight: 700;
}
.banner_content h3 span, .banner_content h4 span {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #e5007e;
}
.banner_content p {
    color: #5c727d;
    margin-bottom: 0px;
}
.home_banner .carousel-control-next, .home_banner .carousel-control-prev {
    position: absolute;
    top: 50% !important;
    bottom: auto !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px;
    padding: 0;
    color: #071c1f !important;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1 !important;
    border: 1px solid #071c1f;
    transition: opacity .15s ease;
}
.home_banner .carousel-control-prev {
    left: 30px;
}
.home_banner .carousel-control-next {
    right: 30px;
}
.home_banner .carousel-control-next i, .home_banner .carousel-control-prev i {
    font-size: 25px;
    color: #071c1f;
}
.home_banner .carousel-indicators [data-bs-target] {
    background-color: #071c1f;
}