.about_section {
    padding: 80px 0px;
}
.about_section img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.about_content {
    padding: 0px 45px;
}

@media (max-width: 480px) {
    .about_content {
        padding: 0px 0px;
    }
}