*, body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

*, body, p, li {
  font-size: 16px;
  color: #555;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Tangerine', cursive; */
  color: #3f3e3e;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 45px;
}
h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
}
h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
}
h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
}
.site_title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.site_title h2, .site_title h3 {
  font-size: 35px;
  font-weight: 800;
  line-height: 45px;
}
.site_title h2 span, .site_title h3 span {
  font-size: 35px;
  font-weight: 800;
  line-height: 45px;
  color: #e5007e;
}
.site_title:before {
  content: "";
	border: 4px solid #fff;
	width: 17px;
	height: 17px;
	bottom: -4px;
  background-color: #3f3e3e;
  position: absolute;
  border-radius: 50%;
  left: 0;
}

.site_title:after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #e5007e;
  position: absolute;
  bottom: 1.5px;
  left: 18px;
}

.site_title.text-center::before {
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	border: 4px solid #fff;
	width: 17px;
	height: 17px;
	bottom: -4px;
}
.site_title.text-center::after {
	left: 0;
	right: 0;
	margin: 0 auto;
}